/* .name{
    height: 200px;
    color: white;
    background-color: black;
}
.img{
    height: 300px;
    width: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../Assets/rimg1.jpg);
}
.month{
    text-align: center;
    
} */


.container-card{
    margin:  0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    

}
.card{
    background-color: gray;
    height: 550px;
    width: 400px;
    text-align: center;
    transition: all 1s ease-in-out ;

}
.card:hover{
    transform: scale(1.1);

}