 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden;  */
} 
.top-bar{
    width: 100%;
    height: 30px;
    background-color: hsl(273, 34%, 73%);
    line-height: 30px;
}
.list{
    list-style: none;
    line-height: 50px;
} 
 .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0px;
}
.fimg img{
    height: 300px;
    width: 300px;
}
.b1{
    background-image: url(../Assets/fabric1.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 300px;
    display: flex;
    align-items: end;
    
}
.b1:hover{
    background-image:url(../Assets/b1.webp) ;
}
.b2{
    background-image: url(../Assets/f2.webp);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 300px;
    display: flex;
    align-items: end;
}
.b2:hover{
    background-image:url(../Assets/b2.webp) ;
}
.b3{
    background-image: url(../Assets/fabric3.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 300px;
    display: flex;
    align-items: end;
}
.b3:hover{
    background-image:url(../Assets/b4.webp) ;
}
.b4{
    background-image: url(../Assets/fabric4.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 300px;
    display: flex;
    align-items: end;
}
.b4:hover{
    background-image:url(../Assets/b3.webp) ;
}
.btn button{
    width:285px;
    /* margin-bottom: -100px; */
    
}
.btn button:hover{
    background-color: gray;
}
.b5{
    background-image: url(../Assets/f5.webp);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 300px;
    display: flex;
    align-items: end;
}
.b5:hover{
    background-image:url(../Assets/b5.webp) ;
}
.b6{
    background-image: url(../Assets/f7.webp);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 300px;
    display: flex;
    align-items: end;
}
.b6:hover{
    background-image:url(../Assets/b7.webp) ;
}
.b7{
    background-image: url(../Assets/f8.webp);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 300px;
    display: flex;
    align-items: end;
}
.b7:hover{
    background-image:url(../Assets/b8.webp) ;
}
.b8{
    background-image: url(../Assets/f6.webp);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 300px;
    display: flex;
    align-items: end;
}
.b8:hover{
    background-image:url(../Assets/b6.webp) ;
}





@media only screen and (max-width :760px){

    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .top{
        font-size: 10PX;
        
    }
    
    .L{
        display: none;
        /* background-color: aqua; */
    }
    .icon{
        display: none;
    }
}